.reset-button-style{
    width: 50%;
    margin-top: 10px;
    font-size: 19px;
}
.reset-title{
    text-align: center;
}
.reset-card{
    width: 390px;
    // max-width: 400px;
   
    max-height: 400px;
    margin: -136px auto;
}