<div class="login-wrapper-background">
    <div class="logo-wrapper-box">
        <img class="gb_ua" src="/assets/coollogo_com-8614574.png" 
       alt="" aria-hidden="true" style="width:120px;height:46px">
    </div>
</div>
<mat-card class="reset-card mat-elevation-z4">
    <!-- <mat-card-header>
    
    </mat-card-header> -->
    <h2 class="reset-title">RESET PASSWORD</h2>
 
    <form [formGroup]="resetPasswordGroup" (ngSubmit)="resetPassword()" >
        <div class="flex-container">
       <div class="example-form">
        <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Johndoe@example.com" type="email" email
            formControlName="email"
            >
         
            <mat-error>Provide a valid email e.g johndoe@example.com</mat-error>
          </mat-form-field>
       </div>
       
       
        </div>   
        <div class="flex-container-center">
            <button mat-flat-button color="primary" 
            cdkFocusInitial
            type="submit"
            class="reset-button-style">
            <div class="spinner" *ngIf="isLoading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <span *ngIf="!isLoading">Submit</span>
          </button>
        </div>
        
        <br/>
        <div class="flex-container-center">
            <p>
                <a routerLink="/app/login"
        class="forgot-password"
        ><u>Already have an account?</u></a>
            </p>
        </div>

    </form>
    
    
</mat-card>

<footer class="footer">
    <a class="resources-links">&copy; {{year}} — Filetax </a>
    <a class="resources-links" routerLink="/app/login"><small><u>Home</u></small></a>
    <a class="resources-links"> <small><u>Help</u></small></a>
    <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
    <a class="resources-links"> <u><small>Blog</small></u></a>
  </footer>