.custom-width{
    width: 33.3% !important;
}
.custom-width-50{
    width: 50% !important;
}
.flex{
    display: flex !important;
}
.main-cta-override{
    font-size: 17px !important;
    width: 100% !important;
}