<div class="login-wrapper-background">
    <!-- <div class="logo-wrapper-box">
        <img class="gb_ua" src="/assets/coollogo_com-8614574.png" 
       alt="" aria-hidden="true" style="width:120px;height:46px">
    </div> -->
</div>
<mat-card class="login-card mat-elevation-z4">
    <mat-progress-bar mode="indeterminate" 
    color="accent" *ngIf="progressLoading"
    class="progress-position"></mat-progress-bar>
   
    <h3 class="login-title">Filetax</h3>
    <br/>
    <form  [formGroup]="loginGroup"
    (ngSubmit)="logIn(loginGroup.get('email').value, loginGroup.get('password').value)">
    <div class="flex-container">
        <div class="example-form">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. Johndoe@example.com" 
                    [errorStateMatcher]="matcher"
                    email formControlName="email"/>
                    <mat-error> A valid email required e.g joefraser@casiusclay.com</mat-error>
                    <!-- <mat-error
                    *ngIf="loginGroup.hasError('email') && !loginGroup.hasError('required')"
                    >A valid email required e.g joefraser@casiusclay.com</mat-error> -->
                  </mat-form-field>
                
               </p>
                <p>
                    
                    <mat-form-field class="example-full-width" 
          
                    >
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="******"
                        [errorStateMatcher]="matcher"
                        formControlName="password" type="password" minlength="6"
                        >
                        <mat-error>Password is required and must be at least 6 characters</mat-error>
                      </mat-form-field>
                </p>
        </div>
      
    </div>

    <p class="flex-container">
        <button mat-flat-button color="primary" 
        type="submit"
        class="full-btn">
        <div class="spinner" *ngIf="loadingText.length < 1">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <span *ngIf="loadingText.length > 1">{{loadingText}}</span>
      </button>
    </p>
    <!-- <div class="flex-container">
        <a 
        (click)="navigateToOtherPages('/app/register')"
        class="cta-register-link"><u>Or create a new account</u></a>
    </div> -->

   <div class="outer-wrap">
    <div class="or-text-wrapper">
        <div class="line-let"></div>
        <div class="actual-text"> OR </div>
        <div class="line-let"></div>
            </div>
   </div>

   <p class="flex-container">
    <button mat-stroked-button color="primary" 
    type="submit"
    class="full-btn-stroked">
    <div class="spinner" *ngIf="businessText.length < 1">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <span *ngIf="businessText.length > 1">{{businessText}}</span>
  </button>
</p>

<div class="flex-container-center">
    <br/>
    <a routerLink="/app/register"
    class="register-individual-account"
    ><h3 class="register-individual-account">Create Individual Account</h3></a>
</div>
<div class="flex-container-center">
    <p>
        <a routerLink="/app/reset-password"
class="forgot-password"
>Forgot password?</a>
    </p>
</div>
  
    </form>
</mat-card>

<footer class="footer">
    <a class="resources-links">&copy; {{year}} — Filetax </a>
    <a class="resources-links" routerLink="/app/login"><small><u>Home</u></small></a>
    <a class="resources-links"> <small><u>Help</u></small></a>
    <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
    <a class="resources-links"> <u><small>Blog</small></u></a>
  </footer>