<div class="login-wrapper-background">
    <div class="logo-wrapper-box">
        <img class="gb_ua" src="/assets/coollogo_com-8614574.png" 
       alt="" aria-hidden="true" style="width:120px;height:46px">
    </div>
</div>
<mat-card class="login-card mat-elevation-z4">
    <mat-progress-bar mode="indeterminate" 
    color="accent" *ngIf="progressLoading"
    class="progress-position"></mat-progress-bar>
    <!-- <mat-card-header>
    
    </mat-card-header> -->
    <h3 class="login-title">LOGIN</h3>
    <br/>
    <div class="flex-container">
        <form class="example-form" [formGroup]="loginGroup">
            <p>
             <mat-form-field class="example-full-width">
                 <mat-label>Email</mat-label>
                 <input matInput placeholder="Ex. Johndoe@example.com" 
                 [errorStateMatcher]="matcher"
                 email formControlName="email"/>
                 <mat-error> A valid email required e.g joefraser@casiusclay.com</mat-error>
                 <!-- <mat-error
                 *ngIf="loginGroup.hasError('email') && !loginGroup.hasError('required')"
                 >A valid email required e.g joefraser@casiusclay.com</mat-error> -->
               </mat-form-field>
             
            </p>
             <p>
                 <mat-form-field class="example-full-width">
                     <mat-label>Password</mat-label>
                     <input matInput placeholder="" type="password" formControlName="password" minlength="6">
                     <mat-error>
                         Password must be at least 6 characters
                     </mat-error>
                     <mat-error
                     *ngIf="loginGroup.hasError('password') && !loginGroup.hasError('required')"
                     >A password is required</mat-error>
                   </mat-form-field>
             </p>
           </form>
    </div>
    <!-- <br/> -->
      <div class="flex-container">
          <a routerLink="/app/register" class="cta-register-link">Or create a new account</a>
      </div>
      <mat-divider></mat-divider>
     <div class="bottom-actions">
        <button mat-button 

        routerLink="/app/reset-password" class="forgot-password"
        >Forgot password?</button>&nbsp;&nbsp;&nbsp;
        <button mat-flat-button color="primary" 
        cdkFocusInitial
        (click)="logIn(loginGroup.get('email').value, loginGroup.get('password').value)"
        class="image-edit-btn">LOGIN</button>
     </div>
</mat-card>

<footer class="footer">
    <a class="resources-links">&copy; {{year}} — Filetax </a>
    <a class="resources-links" routerLink="/app/login"><small><u>Home</u></small></a>
    <a class="resources-links"> <small><u>Help</u></small></a>
    <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
    <a class="resources-links"> <u><small>Blog</small></u></a>
  </footer>