
<mat-card class="mat-elevation-z4 activation-card">
    <button mat-fab color="primary" aria-label="Confirm Email Indicator"
    class="indicator-btn"
    >
        <mat-icon>email</mat-icon>
      </button>
  <h2>Please check your email for a link to<br/>activate this account</h2>
  <a routerLink="/login">Or login your account</a>
</mat-card>

<footer class="footer">
  <a class="resources-links">&copy; {{year}} — Filetax </a>
  <a class="resources-links" routerLink="/login"><small><u>Home</u></small></a>
  <a class="resources-links"> <small><u>Help</u></small></a>
  <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
  <a class="resources-links"> <u><small>Blog</small></u></a>
</footer>