.file-tax-card{
    width: 93%;
    height: 90px;
}


.file-tax-card-main{
    width: 93%;
    height: 130px;
}
.sub-heading{
    margin-top: -15px !important;
    // text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
}
.taxes-divider{
    width: 93% !important;
    margin-left: 3%;
}