<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">File Taxes</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
    </div>
</div>


<div class="flex-container">
    <mat-card class="file-tax-card">
        <div class="flex-container-row reduce-height">
            <h2>Basic Info <mat-icon class="con-info">info</mat-icon></h2>
        </div>
       
        <div class="flex-container-row">
            <div class="col-grid-33">
                <h4 class="header-h4">Your household info</h4>
            </div>
            <div class="align-last">
                <button mat-stroked-button color="primary"
                class="outline-btn-width-adjust"
                >Edit/Review</button>
            </div>
        </div>
    </mat-card>
</div>