<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">File Taxes</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
    </div>
</div>


<div class="flex-container">
    <mat-card class="file-tax-card-main mat-elevation-z5">
        <div class="flex-container-row reduce-height">
            <h2>Basic Info <mat-icon class="con-info">info</mat-icon></h2>
        </div>
       
        <div class="flex-container-row">
            <div class="col-grid-33">
                <h4 class="header-h4">Your household info</h4>
            </div>
            <div class="align-last">
                <button mat-stroked-button color="primary"
                class="outline-btn-width-adjust"
                >Edit/Review</button>
            </div>
        </div>
        <!-- <br/> -->
        <div class="flex-container-row">
            <h4 class="header-status-h4">filing status: <b>0/0</b></h4>
        </div>
    </mat-card>
</div>

<!-- More features -->
<br/>
<br/>

<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">Business Income Tax returns</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
    </div>
</div>

<ng-container>
    <div class="flex-container">
        <mat-card class="file-tax-card mat-elevation-z3" id="wave">
            <div class="flex-container-row reduce-height">
                <h2>Pay As You Earn</h2>
            </div>
            <div class="flex-container-row">
                <div class="col-grid-33">
                    <h4 class="custom-h4">Let's start your Pay-As-You-Earn taxes</h4>
                </div>
                <div class="align-last">
                    <button mat-flat-button 
                    [routerLink]="['/services','pay-as-you-earn']"
                    color="primary"
                    class="filled-btn-width-adjust"
                    >Start</button>
                </div>
            </div>
           
        </mat-card>
    </div>
</ng-container>
<br/>
<ng-container>
   
    <ng-container>
        <div class="flex-container">
            <mat-card class="file-tax-card mat-elevation-z3" id="wave">
                <div class="flex-container-row reduce-height">
                    <h2>Tax Audit management</h2>
                </div>
                <div class="flex-container-row">
                    <div class="col-grid-33">
                        <h4 class="custom-h4">Start filing your Tax audit management</h4>
                    </div>
                    <div class="align-last">
                        <button mat-flat-button 
                        [routerLink]="['/services','pay-as-you-earn']"
                        color="primary"
                        class="filled-btn-width-adjust"
                        >Start</button>
                    </div>
                </div>
               
            </mat-card>
        </div>
    </ng-container>
    <br/>
    <ng-container>