.file-tax-card{
    width: 100%;
   
}
.sub-heading{
    margin-top: -15px !important;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}
.taxes-divider{
    width: 93% !important;
    margin-left: 3%;
}