<ng-container *ngIf="data.actionType == 'resetpassword'">
  <h2 mat-dialog-title>Reset password</h2>
  <mat-dialog-content *ngIf="!isRequestSent">
An email link will be sent to {{service.user.email}}

  </mat-dialog-content>
  <mat-dialog-content *ngIf="isRequestSent">
    <h2 class="request-sent">Check your email for reset-link</h2>
      </mat-dialog-content>
  <br/>
  <mat-dialog-actions *ngIf="!isRequestSent">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="resetPassword()" color="primary">
        <div class="spinner-2" *ngIf="isLoading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <span *ngIf="!isLoading">Reset</span>
    </button>
  </mat-dialog-actions>
  <mat-dialog-actions *ngIf="isRequestSent">
    <button mat-button [mat-dialog-close]="true" color="primary">Close</button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="data.actionType == 'changeTinPassword'">
  <form [formGroup]="resetPinPasswordform" (ngSubmit)="resetTinPassword()">
    <h2 mat-dialog-title>Reset TIN Password</h2>
    <mat-dialog-content>
  
  
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Type new password</mat-label>
      <input matInput type="password" formControlName="tinPassword">
    </mat-form-field>
  </p>
    </mat-dialog-content>
   
    <br/>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button type="submit" color="primary">
          <div class="spinner-2" *ngIf="isLoading">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <span *ngIf="!isLoading">Reset</span>
      </button>
    </mat-dialog-actions>
  </form>
 
</ng-container>

<ng-container *ngIf="data.actionType == 'changeTinId'">
  <form [formGroup]="tinIdResetform" (ngSubmit)="resetTinId()">
    <h2 mat-dialog-title>Change TIN ID</h2>
    <mat-dialog-content>
      
      <p>
        <mat-form-field  class="example-full-width">
          <mat-label>Type ID</mat-label>
          <input matInput  required formControlName="tinId">
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button color="primary">
          <div class="spinner-2" *ngIf="isLoading">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <span *ngIf="!isLoading">Reset</span>
      </button>
    </mat-dialog-actions>
  </form>
 
</ng-container>

<ng-container *ngIf="data.actionType == 'error'">
  <h2 mat-dialog-title class="warning">Error</h2>
  <mat-dialog-content>
    Please uplaod images only e.g climate.jpg, climage.jpeg or climate.png
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
   OK
  </button>
  </mat-dialog-actions>
</ng-container>