<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">{{serviceName}}</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
       
    </div>
</div>

<audio style="display: none !important;"
src="assets/swiftly.ogg" id="notification-audio" 
#audioref
></audio>
<!-- linear -->
<div class="flex-container">
    <mat-card class="service-tax-card mat-elevation-z3">
        <mat-horizontal-stepper  #stepper >
            <mat-step [stepControl]="step1">
                <form [formGroup]="step1">
                  <ng-template matStepLabel>File {{serviceName}}</ng-template>
               
                  <input class="file-input" type="file" 
                  accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
        id="form-uploader" #ref
        (change)="uploadMainDocument($event.target.files,stepper)">
  
        <div class="flex-container-column">
          <input formControlName="stepcontrol1" class="form-hidden"/>
             <div class="col-grid-33">
                 <button mat-raised-button 
                 class="upload-taxes-btn"
                 (click)="colorSets.has(serviceName) ? deleteMainDocument(serviceName) : ref.click()"
                 color="{{colorSets.has(serviceName) ? accentColor : primaryColor}}">
                 <mat-icon
                 class="icon-lg"
                 >cloud_upload</mat-icon> 
               FILE {{serviceName}}
                 </button>
             </div>
           
             <div class="col-grid-33">
                 <h2 class="custom-h2">{{description}}</h2>
             </div>
         </div>
                
                </form>
            </mat-step>
            <mat-step [stepControl]="step2">
                <form [formGroup]="step2">
                  <ng-template matStepLabel>Upload all supporting documents</ng-template>
              
              <div class="flex-container">
                <h2>{{colorSets.size}} documents added</h2>
               
               </div>
               <div class="flex-container" *ngIf="colorSets.size > 0">
                <small><i><strong>Tap cancel icon to undo upload*</strong></i></small>
                <p></p>
               </div>
               <div class="flex-container">
               
                  <mat-chip-list aria-label="Upload Selection" class="chip-set">
                    <mat-chip *ngFor="let files of colorSets"
                    
                    >{{files}} added
                      <mat-icon matChipRemove 
                      (click)="deleteDocument(files)"
                      >cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>

               </div>
               <input formControlName="stepcontrol2" class="form-hidden"/>
<div class="flex-container">
  <div class="col-grid-33" *ngFor="let doc of supportDocuments1">
    <input class="file-input" type="file" 
                accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
      id="form-uploader" #supportDoc1
      (change)="uploadDocuments(doc, $event.target.files)">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    (click)="colorSets.has(doc) ? deleteDocument(doc) : supportDoc1.click()"
     color="{{colorSets.has(doc) ? accentColor : primaryColor}}"
    >
    <mat-icon>add</mat-icon>
    {{doc}}</button>
  </div>
  
</div>
<!-- <br/>
<mat-divider></mat-divider> -->
<br/><br/>

<div class="flex-container">
  <button mat-flat-button color="primary"
  matStepperNext
  class="main-cta"
  >Continue</button></div>
                </form>


            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Finish up</ng-template>
              <div class="flex-container">
                <h2>{{colorSets.size}} documents added</h2>
               </div>
               <div class="flex-container">
                <ul class="ol-style">
                  <li *ngFor="let files of colorSets"><small 
                    matTooltip="File uploaded for Bank Statement"
                    class="file-display"><i>A {{files}} added</i></small></li>
                  </ul>
               </div>
              <div class="flex-container">
                <div class="col-grid-33" *ngFor="let doc2 of supportDocuments2">
                  <input class="file-input" type="file" 
                accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
      id="form-uploader" #supportDoc2
      (change)="uploadDocuments(doc2, $event.target.files)">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  (click)="colorSets.has(doc2) ? deleteDocument(doc2) : supportDoc2.click()"
     color="{{colorSets.has(doc2) ? accentColor : primaryColor}}"
                  >
                  <mat-icon>add</mat-icon>
                  {{doc2}}</button>
                </div>
                
              </div>
              <br/><br/>

<div class="flex-container">
  <button mat-flat-button color="primary"
  matStepperNext
  class="main-cta"
  >Continue</button></div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Submit for review</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button 
                color="primary"
                (click)="submit(stepper)">
                <div class="spinner" *ngIf="isLoading">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
              <span *ngIf="!isLoading">Finish</span>
              </button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        
    </mat-card>
     
    
</div>


