.service-tax-card{
    width: 93%;
}

.form-hidden{
    display: none !important;
}
.main-cta{
    width: 97%;
}
.template-link{
    text-align: center;
    font-size: 15px;
    margin-top: 3% !important;
}
.center-btn{
    // margin-left: 20% !important;
    width: auto;
    height: 41px;
    text-transform: uppercase;
    
}