<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">{{serviceName}}</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
    </div>
</div>



<div class="flex-container">
    <mat-card class="service-tax-card mat-elevation-z3">
        <mat-horizontal-stepper  #stepper linear>
            <mat-step>
                <ng-template matStepLabel>File {{serviceName}}</ng-template>
               
                <input class="file-input" type="file" 
                accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
      id="form-uploader" #ref
      (change)="uploadMainDocument($event.target.files,stepper)">

     <form [formGroup]="uploadServiceGroup">
      <div class="flex-container-column">
     <input formControl="serviceName" class="form-hidden"/>
        <div class="col-grid-33">
            <button mat-raised-button 
            class="upload-taxes-btn"
            (click)="colorSets.has(serviceName) ? deleteMainDocument(serviceName) : ref.click()"
            color="{{colorSets.has(serviceName) ? accentColor : primaryColor}}">
            <mat-icon
            class="icon-lg"
            >cloud_upload</mat-icon> 
          FILE {{serviceName}}
            </button>
        </div>
      
        <div class="col-grid-33">
            <h2 class="custom-h2">{{description}}</h2>
        </div>
    </div>
     </form>
              
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Upload supporting documents</ng-template>
              <!-- <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                         required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form> -->
              <div class="flex-container">
                <h2>0 documents added</h2>
               </div>
               <div class="flex-container">
                <ol class="ol-style">
                  <li>Bank Statement <small 
                    matTooltip="File uploaded for Bank Statement"
                    class="file-display"><i>bank-statement.pdf</i></small></li>
                </ol>
               </div>
<div class="flex-container">
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Bank Statements</button>
  </div>
  
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Customer Invoices</button>
  </div>
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Customer Receipts</button>
  </div>
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Employment Income Payslips</button>
  </div>
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Bank Statements</button>
  </div><div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Suppliers invoices and receipts</button>
  </div><div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Sales Ledger</button>
  </div>
  <div class="col-grid-33">
    <button mat-flat-button 
    color="accent" class="margin-bottom-10"
    >
    <mat-icon>add</mat-icon>
    Expenses ledger</button>
  </div>
  
</div>
<!-- <br/>
<mat-divider></mat-divider> -->
<br/><br/>

<div class="flex-container">
  <button mat-flat-button color="primary"
  matStepperNext
  class="main-cta"
  >Continue</button></div>


            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Finish up</ng-template>
              <div class="flex-container">
                <h2>0 documents added</h2>
               </div>
               <div class="flex-container">
                <ol class="ol-style">
                  <li>Bank Statement <small 
                    matTooltip="File uploaded for Bank Statement"
                    class="file-display"><i>bank-statement.pdf</i></small></li>
                </ol>
               </div>
              <div class="flex-container">
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Cash book ledger</button>
                </div>
                
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Receivables ledger</button>
                </div>
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Payables ledgers</button>
                </div>
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Inventory record</button>
                </div>
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Tax records</button>
                </div><div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Staff payroll</button>
                </div><div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  Payment vouchers</button>
                </div>
                <div class="col-grid-33">
                  <button mat-flat-button 
                  color="accent" class="margin-bottom-10"
                  >
                  <mat-icon>add</mat-icon>
                  TIN of Land Lord if renting</button>
                </div>
                
              </div>
              <br/><br/>

<div class="flex-container">
  <button mat-flat-button color="primary"
  matStepperNext
  class="main-cta"
  >Continue</button></div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Submit for review</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Submit</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        
    </mat-card>
     
    
</div>


