.basic-tax-card-main{
    width: 93%;
}
.forms{
    width: 97% !important;
    margin-right: 3%;
}
.forms-select{
    width: 97% !important;
    margin-right: 3%;
    vertical-align: sub !important;
}
.main-cta{
    width: 100%;
}
.label-text{
    font-size: 16px !important;
    margin-top: 8px;
    margin-bottom: 0;
}
.form-inline{
    margin-left: 5%;
    width: 50%;
    margin-top: 0;
}
