<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-headline">notifications</h1>
    </div>
    </div>

<div class="flex-container">
    <mat-card class="history-tax-card mat-elevation-z5">
       <ng-container  *ngIf="notificationsCollection$ | async; let items; else loading">
        <mat-list>
            <div mat-subheader>Recent activity</div>
            
            <mat-list-item *ngFor="let folder of  items; last as last">
                <mat-icon mat-list-icon color="accent">assessment</mat-icon>
                <div mat-line>{{folder.description}}</div>
                <div mat-line> {{folder.timeStamp | date}} </div>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
            
          </mat-list>
          <div class="flex-container" *ngIf="items.length > 0">
            <button mat-flat-button color="primary"
            
            class="main-cta"
            >SHOW MORE</button>
           
        </div>
        <h3 class="no-notifcations" *ngIf="items.length ==  0">You have no notifications</h3>
       </ng-container>
          <ng-template #loading class="center-loader">
            <div class="flex-container-center">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                  </div>
            </div>
          </ng-template>
          <br/>
         
    </mat-card>
    
</div>