<h1 mat-dialog-title>👋Welcome!  Learn how to file taxes</h1>
<mat-dialog-content class="mat-typography">
 
  <div>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Step 1:</b>	Select
    the respective pack that is relevant to your tax needs.</p>
    <p style="margin-left: 0.5in; margin-bottom: 0.11in; line-height: 108%">
    If you haven’t registered [Put link to registration page], please
    proceed to register [Put link to registration page]. Its easy, simple
    and quick. Individuals and Businesses can register [Put link to
    registration page].</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0.11in; line-height: 108%">
    <b>Step 2:</b>	Once you have registered, you will get an email to
    verify your email address. Kindly verify so that your account is
    activated.</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Step 3:</b>	Once
    you have verified your account, you can now login to begin filing
    your tax(es).</p>
    <p style="text-indent: 0.5in; margin-bottom: 0.11in; line-height: 108%">
    Please keep your password private and safe.</p>
    <p style="margin-left: 0.5in; margin-bottom: 0.11in; line-height: 108%">
    A simple dashboard awaits you after logging in. Feel free to explore
    the platform and the features.</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>


    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Step 4:</b>	Complete you profile. Please add all remaining
       information and relevant supporting documents.</p>
      <p style="margin-bottom: 0.11in; line-height: 108%"><br>
      <br>
      
      </p>



    <p style="margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0.11in; line-height: 108%"><a name="_GoBack"></a>
    <b>Step5:	</b>Select the relevant tax (Income, VAT, PAYE among
    others) you desire to file, upload the supporting document(s), put
    your Tax Identification Number (TIN), the password and submit.</p>
    <p style="margin-left: 0.5in; margin-bottom: 0.11in; line-height: 108%">
    We shall get a notification. We take on average two (2) working days
    to review the documents you have uploaded. In the event that we feel
    that they are incomplete, we shall reach out through Email or/and a
    phone call.</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Offline/Remote
    Support</b></p>
    <p style="margin-bottom: 0.11in; line-height: 108%">In the event that
    you may not feel safe sharing your information online, we can come to
    your premise to assist you file your tax(es). This only is only
    available for the “ONSITE” Pack</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Template
    Guides</b></p>
    <p style="margin-bottom: 0.11in; line-height: 108%">We have also
    added File Tax template guides to help/assist/guide you on the
    information to input.</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Payments</b></p>
    <p style="margin-bottom: 0.11in; line-height: 108%">We support Mobile
    Money, Bank Transfers and Cards (MasterCard, VISA among others)</p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><br>
    <br>
    
    </p>
    <p style="margin-bottom: 0.11in; line-height: 108%"><b>Support</b></p>
    <p style="margin-bottom: 0.11in; line-height: 108%">You can reach us
    via Email and Chat.</p>
    
    </div>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button
  color="primary" (click)="close()"
  [mat-dialog-close]="true" cdkFocusInitial>Finish & start filing taxes now</button>
</mat-dialog-actions>