<ng-container *ngIf="service.userVerified">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="custom-toolbar-color">
        <!-- <h3 class="navbrand">FileTax</h3> -->
       <!-- <div class="logo"></div> -->
       <img class="gb_ua" src="/assets/coollogo_com-8614574.png" 
       
       alt="" aria-hidden="true" style="width:109px;height:40px">
      </mat-toolbar>
     
      <div class="links-wrapper">
        <ng-container *ngFor="let link of links">
          <a class="link-item is-anchor" [routerLink]="link.path" 
          [routerLinkActiveOptions]="{exact: true}" routerLinkActive
          #rla="routerLinkActive"
          (click)="link.path == '/app/login' ? logout(): false"
          >
            <div 
            [ngClass]="rla.isActive ? 'flex-active' : 'flex'"
            >
              <div class="is-10">
                <i [ngClass]="rla.isActive ? link.icon + ' ' + 'is-selected' : link.icon + ' ' + 'is-not-selected' "></i>
              </div>
              <div class="is-90">
                <h3 
                [ngClass]="rla.isActive ? 'is-h3' + ' ' + 'is-selected' : 'is-h3-light' + ' ' + 'is-not-selected' "
                >{{link.name}}</h3>
              </div>
            </div>
          </a>
        <!-- <br/> -->
        </ng-container>

      </div>
<br/>
      <mat-divider class="divider-bottom"></mat-divider>
     <mat-card class="card-bottom">
      <mat-card-header>
      
        <img  mat-card-avatar [src]="service.user.photoURL" 
        class="example-header-image">
        <mat-card-title class="bottom-title">{{service.user.displayName}}</mat-card-title>
        <mat-card-subtitle class="bottom-subtitle"
        routerLink="/profile"
        >view profile</mat-card-subtitle>
      </mat-card-header>
     </mat-card>

    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <span>
          <mat-icon matBadge="15" 
          class="notifications-icon"
          (click)="checkNotifications()"
          matBadgeColor="warn">notifications</mat-icon>
        </span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</ng-container>

<ng-container *ngIf="!service.userVerified">
  <div class="center-box">
    <h1>👋👋 Please check your email for a link to<br/>activate this account</h1>
    <h3>Refresh page if activated or logout</h3>
  </div>
  
  <br/>
  <div class="flex-container-center">
    <button mat-flat-button (click)="service.logout()"
  class="cta-unverified-email"
  color="primary">Log out</button>
  </div>
  
  <footer class="footer">
    <a class="resources-links">&copy; {{year}} — Filetax </a>
    <a class="resources-links" routerLink="/app/login"><small><u>Home</u></small></a>
    <a class="resources-links"> <small><u>Help</u></small></a>
    <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
    <a class="resources-links"> <u><small>Blog</small></u></a>
  </footer>
</ng-container>