<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>FileTax</mat-toolbar>
      <!-- <mat-nav-list>
        <a mat-list-item routerLink="/file-taxes">Dashboard</a>
        <a mat-list-item routerLink="/file-taxes">File Taxes</a>
        <a mat-list-item routerLink="/history">Tax File History</a>
        <a mat-list-item routerLink="/settings">Settings</a>
      </mat-nav-list> -->
      <mat-list>
        <!-- <div mat-subheader>Folders</div> -->
        <mat-list-item>
          <i class="ni ni-shop"></i>
          <div mat-line>Dashboard</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> 
          <i class="ni ni-chart-pie-35"></i>
          <div mat-line>File Taxes</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <i class="ni ni-archive-2"></i>
          <div mat-line>Tax History</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <i class="ni ni-settings-gear-65"></i>
          <div mat-line>Settings</div>
        </mat-list-item>

      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>cleatax</span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  