.fill-remaining-space {
  flex: 1 1 auto;
}

.notifications-icon{
  color: #43379d !important;
  cursor:  pointer !important;
}

.sidenav-container {
    height: 100%;
    background: #f5f5f5  !important;
  }
  
 .navbrand{
   color: #ffffff;
 }
  .sidenav {
    width: 260px;
    background-color: #6515dd !important;
    
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
    
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: transparent !important;
    // visibility: hidden;
  }

  .logo{
    background-image: url('/assets/logo_transparent.png');
    position: relative;
    margin-top: -21px;
    top: 12px;
    height: 40px;
    background-size: cover;
  }
  .example-header-image {
    // background-image: url('');
    background-size: cover;
  }

  .bottom-title{
    color: #ffffff !important;
    font-size: 16px !important;
    font-variant-caps: all-small-caps;
  }

  .bottom-subtitle{
    color: wheat !important;
    font-weight: 400 !important;
    font-size: 14px;
    margin-top: -12px !important;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serifs !important;
    text-decoration: none;
    border: none;
    outline: 0;
    // font-variant-caps: all-small-caps;
  }
 
  .card-bottom{
    position: relative;
    bottom: 0;
    border-radius: 0 !important;
    background: transparent !important;
    height: 48px !important;
    box-shadow: none !important;
  }
  .divider-bottom{
    background-color: rgba(227, 236, 225, 0.295) !important;
    margin-top: 2% !important;
  }
  .is-anchor {
    display: block;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    background: rgba(40, 44, 44, 0.1);
    border-radius: 5px;
  }

  .size-20{
    // font-size: 22px;
    font-weight: bold;
    color: #ffffff !important;
  }

  .flex{
    display: flex;
    flex-direction: row;
    height: 40px;
  }
  .flex-active{
    display: flex;
    flex-direction: row;
    height: 40px;
    border-radius: 5px;
    background: rgba(40, 44, 44, 0.6);
  }
  
  

  .is-10{
    flex-basis: 8%;
    padding-left: 6px;
    padding-top: 9px;
    width: 28px;
    // border: 1px solid black;
   
    padding-top: 8px;
  }
  .is-90{
    flex-basis: 92%;
    // border: 1px solid purple;
   
    padding-top: 4px;
   
  }
  .is-h3{
    font-weight: 500 !important;
    text-transform: capitalize;
    padding-left: 12px;
    font-size: 16px;
    // color: papayawhip !important; //whitesmoke
    text-align: justify;
  }
  .is-h3-light{
    font-weight: 400 !important;
    text-transform: capitalize;
    padding-left: 12px;
    font-size: 16px;
    // color: papayawhip !important; //whitesmoke
    text-align: justify;
  }

  .links-wrapper{
    // border: 1px solid red;
    height: 70%;
    padding-top: 1.7rem;
    .link-item{
      margin-bottom: 11px;
      margin-left: 5px;
      margin-right: 0;
      width: 95%;
      padding-left: 3px;
      padding-right: 0;
      border-radius: 9px;
      margin-top: 21px;
    }
  }


  .center-box{
    text-align: center;
    margin-top: 12%;
  }

  .cta-unverified-email{
    font-weight: 500;
    font-size: 22px;
    display: block;
    width: 25%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
    padding: 14px;
    background: rgb(51, 104, 250);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: background 0.2s linear 0s;
  }