/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
background: #f5f5f5  !important;
margin: 0; 
font-family: 'Ubuntu', sans-serifs; 
p,small{
    font-family: 'Lato', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serifs !important;
    color: #32325d !important;
}
}

.mat-toolbar.mat-primary{
    background-color: #ffffff !important;
    color: #000000;
}
.drawer-color{
    background-color: #43379d !important;
}

.is-not-selected{
    color: #7ea6f6 !important;
}
.is-selected{
    color: #ffffff !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;

}

.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    justify-content: space-between;
}

.col-grid-33{
    flex-basis: 33.3%;
}
.col-3-grid{
    flex-basis: 30%;
}

.align-start{
align-self: flex-start;
}

.align-last{
    flex-basis: 30%;
    display: flex;
    margin-right: 15px;
    align-items: baseline;
    justify-content: flex-end;
}

.col-6-grid{
flex-basis: 50%;
}

.col-8-grid{
    flex-basis: 87%;
}

.overview-title{
    font-weight: 500 !important;
    font-variant-caps: all-petite-caps !important;
    color: #797b7d !important;
    font-size: 22px !important;
}

.con-info{
    vertical-align: bottom;
    font-size: 18px;
}

.header-h4{
    margin-top: -8px;
    // color: #636567 !important;
    font-size: 17px !important;
}
.header-h5{
    margin-top: 13px;
    font-size: 15.9px !important;
    font-weight: 400 !important;
}
.header-status-h4{
    margin-top: -12px;
    // color: #636567 !important;
    font-size: 17.1px !important;
    text-transform: capitalize;
}
.reduce-height{
    height: 38px;
}

.outline-btn-width-adjust{
width: 150px;
font-size: 17px !important;
border: 1.3px solid #43379d !important;
color: #43379d !important;
}

.filled-btn-width-adjust{
    width: 150px;
    font-size: 17px !important;
    // border: 1.3px solid #43379d !important;
    background-color: #43379d !important;
    }

.danger{
    color: #43379d;
}

.upload-taxes-btn{
    border-radius: 6px !important;
    width: 200px;
    padding: 6px !important;
    font-size: 16px !important;
    margin-top: 20% !important;
    text-transform: uppercase !important;
    background-color: #43379d !important;
    color: #ffffff !important;
    // margin-bottom: 17px !important;
    .icon-lg{
        font-size: 25px !important;
        vertical-align: middle !important;
    }
}

.custom-h2{
    font-size: 16px !important;
    margin-top: 14px !important;
    font-weight: 400 !important;
}
.mat-step-header .mat-step-label.mat-step-label-active {
    color: #32325d;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.ol-style{
    margin-left: 0 !important;
    padding-left: 13px !important;
    margin-top: 0 !important;
    display: flex !important;
    flex-direction: column;
    flex-basis: 100% !important;
    flex-wrap: wrap !important;
    max-height: 150px !important;
      
}
.li-style{
    margin-left: 0 !important;
    padding-left: 13px !important;
    margin-top: 0px !important;
    display: flex !important;
    flex-direction: column;
    flex-basis: 100% !important;
    flex-wrap: wrap !important;
    max-height: 150px !important;
    list-style-type: none;
    
}
.li-style{
    // margin-bottom: 13px;
    color: #32325d !important;
}
.li-style li{
    margin-bottom: 8px !important;
}

.file-display{
    text-decoration: underline;
    color: #43379d;
    cursor: pointer;
}

.strong-indicator{
    color: rgb(11, 92, 81);
}

.mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 0;
    color: #32325d !important;
}
.mat-cell, .mat-footer-cell {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: #43379d !important;
}

.login-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.login-wrapper-background{
    height: 330px;
    background-color: #6515dd !important;
    width: 100%;
    .logo-wrapper-box{
        width: 150px;
        // border: 1px solid white;
        position: relative;
        top: 32%;
        left: 45%;
    }
}

.login-card{
    width: 390px;
    // max-width: 400px;
    height: 340px;
    max-height: 400px;
    margin: -136px auto;
    .login-title{
        font-size: 1.65rem;
        text-align: center;
        font-weight: 100;
    }

}

.register-card{
    width: 50%;
    // max-width: 400px;
    height: 380px;
    max-height: 400px;
    margin: -136px auto;
    .login-title{
        font-size: 1.4rem;
        text-align: center;
        // font-weight: 300;
    }

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .example-full-width {
    width: 100%;
  }

  .bottom-actions{
    // border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 19px;
    right: 0;
    padding-right: 15px;
  }

  .bottom-actions-register{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
        // position: absolute;
        // bottom: 10px;
        // right: 10px;
        // border: 1px solid red;
        height: 48px;
  }
  .register-btn{
      width: 50% !important;
 
  }
  .cta-register-link{
      margin-bottom: 15px;
      margin-top: 15px;
    //   text-decoration: none;
      color: #4a148c;
  }

  .image-edit-btn{
    padding-left: 16px !important;
    padding-right: 16px !important;
    border: 0 !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    text-transform: none !important;
    letter-spacing: .25px !important;
}
// #6515dd
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, 
.mat-fab.mat-primary, .mat-mini-fab.mat-primary {
background-color: #6515dd !important;
}