/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
margin: 0; 
font-family: 'Ubuntu', sans-serifs; 
p,small{
    font-family: 'Lato', sans-serif !important;
}
h1,h2,h3,h4,h6{
    font-family: 'Ubuntu', sans-serifs !important;
    color: #32325d !important;
}
}

.mat-toolbar.mat-primary{
    background-color: #ffffff !important;
    color: #000000;
}
.drawer-color{
    background-color: #43379d !important;
}

.is-not-selected{
    color: #7ea6f6 !important;
}
.is-selected{
    color: #ffffff !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6-grid{
flex-basis: 50%;
}
