<div class="flex-container">
<div class="col-6-grid">
    <h1 class="overview-title mat-headline">Overview</h1>
</div>
</div>

<div class="flex-container">
    <div class="col-6-grid">
        <mat-card class="metrics-cards mat-elevation-z5">
            <h6>All taxes filed</h6>
            <h1>0</h1>
          <div class="cta-action"
          routerLink="/history"
          >
            <h2>SEE FULL HISTORY</h2>
          </div>
        </mat-card>
    </div>
    <div class="col-6-grid">
        <mat-card class="metrics-cards mat-elevation-z5">
            <h6>Latest taxes filed</h6>
            <h1>1</h1>
            <div class="cta-action" 
            routerLink="/file-taxes"
            >
                <h2>FILE NEW TAXES</h2>
              </div>
        </mat-card>
    </div>
</div>
