.metrics-cards {
    width: 400px;
    height: 180px;
    h6{
        // font-variant-caps: all-petite-caps !important;
        font-size: 15px;
    }
    h1{
        font-size: 3rem !important;
    }
   
}
.cta-action{
    position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #eeeeee;
    width: inherit;
    outline: none;
    h2{
        font-variant-caps: all-petite-caps !important;
        color: #5850eb;
    }
}

.loading{
    font-variant-caps: all-petite-caps;
    color: #5850eb;
    text-align: center;
    font-size: 19px;
}

table {
    width: 94% !important;
  }
  .full-width{
      width: 94% !important;
      background: white !important;
  }
.search-filter-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    background: #ffffff !important;
    flex-basis: 100% !important;
    padding-top: 15px;
    
}
.is-white{
    background: #ffffff !important;
}
