<ng-container [ngSwitch]="(service.accountType$ | async)?.isCompany">
    <app-company-offline-filing *ngSwitchCase="true"
></app-company-offline-filing>
    <app-user-offline-filing *ngSwitchCase="false"></app-user-offline-filing>
    <div class="flex-container-column" *ngSwitchDefault>
        <div class="height-block2"></div>
          <div class="sk-chase">
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
              <div class="sk-chase-dot"></div>
            </div>
      </div>
</ng-container>