<div class="login-wrapper-background">
    <div class="logo-wrapper-box">
        <img class="gb_ua" src="/assets/coollogo_com-8614574.png" 
       alt="" aria-hidden="true" style="width:120px;height:46px">
    </div>
</div>
<mat-card class="register-card mat-elevation-z4">
    <!-- <mat-card-header>
    
    </mat-card-header> -->
    <h2 class="login-title">CREATE ACCOUNT</h2>
    <br/>
    <form class="flex-container">
        <div class="col-6-grid" *ngFor="let control of controls">
            <mat-form-field class="example-full-width" 
            
            >
                <mat-label>{{control.name}}</mat-label>
                <input matInput placeholder="">
                <!--  type="{{control.control == "dateOfBirth" ? "date" : "text"}}" -->
              </mat-form-field>
        </div>
       
         
       </form>
   
  <!-- <br/> -->
  <div class="flex-container-center">
    <button mat-flat-button color="primary" 
    routerLink="/"
    class="image-edit-btn register-btn">REGISTER</button>    
</div>
<br/>
 <mat-divider></mat-divider>

 <div class="flex-container-center">
    <a routerLink="/login" class="cta-register-link">Already have an account? Login</a>
</div><br/>

     
</mat-card>

<footer class="footer">
    <a class="resources-links">&copy; {{year}} — Filetax </a>
    <a class="resources-links"> <small><u>Help</u></small></a>
    <a class="resources-links"> <u><small>Terms and Conditions</small></u></a>
    <a class="resources-links"> <u><small>Blog</small></u></a>
  </footer>