<div class="flex-container">
    <div class="col-6-grid">
        <h1 class="overview-title mat-title">Settings</h1>
        <!-- <h3 class="header-h4 sub-heading">Select services to file</h3> -->
    </div>
</div>

<div class="flex-container">
    <mat-card class="settings-card-main mat-elevation-z5">

        <div class="c5e-project-settings-item">
           <div class="image-wrap">
            <div mat-card-avatar class="example-header-image"></div>
           </div>
           <p></p>
           <button mat-flat-button 
           class="image-edit-btn"
           color="primary">
           
           Edit</button>
        </div>
        <!-- br -->
        <div class="c5e-project-settings-item">
            <label>Edit your names
                 <mat-icon class="help-icon">help</mat-icon>
            </label>
<span class="spanner">Miles Dyson</span>
<mat-icon class="c5e-settings-icon-edit-mode-off">mode_edit</mat-icon>
        </div>
        <!-- br -->
        <div class="c5e-project-settings-item">
            <label>Change password
                 <mat-icon class="help-icon">help</mat-icon>
            </label>
<span class="spanner">*********</span>
<mat-icon class="c5e-settings-icon-edit-mode-off">mode_edit</mat-icon>
        </div>
    <!-- br -->
    <div class="c5e-project-settings-item">
        <label>Change TIN id
             <mat-icon class="help-icon">help</mat-icon>
        </label>
<span class="spanner">HX2010IOazz..</span>
<mat-icon class="c5e-settings-icon-edit-mode-off">mode_edit</mat-icon>
    </div>
    <!-- br -->
    <div class="c5e-project-settings-item">
        <label>TIN password
             <mat-icon class="help-icon">help</mat-icon>
        </label>
<span class="spanner">Miles Dyson</span>
<mat-icon class="c5e-settings-icon-edit-mode-off">mode_edit</mat-icon>
    </div>
    </mat-card>
</div>